<h2><%= @idea.title %></h2>

<p><%= @idea.body %></p>

<div>
  <% if can? :edit, @idea %>
    <%= link_to "Edit", edit_idea_path(@idea) %> |
  <% end %>
  <% if can? :destroy, @idea %>
    <%= link_to "Delete", idea_path(@idea), method: :delete, data: {confirm: "Are you sure you want to delete this idea?"} %>
  <% end %>
</div>

<h2>Create a Comment</h2>
<%= @comment.errors.full_messages.join(', ') %> 
  <div>
    <%= form_for [@idea, @comment] do |f| %>
  </div>
  <div>
    <%= f.label :body, "Comments" %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>
<hr>

<h2>Comments</h2>
<% @idea.comments.each do |comment| %>
  <p><%= comment.body %></p>
  <hr>
<% end %>
