<!DOCTYPE html>
<html>
<head>
  <title>Quiz3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <span class="nav_left">
    <%= link_to "Create New Idea", new_idea_path %> |
    <%= link_to "All Ideas", ideas_path %>
  </span>

  <span class="username">
    <% if user_signed_in? %>
      Welcome <%= link_to current_user.first_name, edit_users_path(current_user) %>  |
      <%= link_to "Sign Out", sessions_path, method: :delete %>
    <% else %>
      <%= link_to "Sign Up", new_user_path %> |
      <%= link_to "Sign In", new_session_path %>
    <% end %>
  </span>

  <% if flash[:notice] %>
    <div class="flash-notice"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
      <div class="flash-alert"><%= flash[:alert] %>
  <% end %>
<%= yield %>

</body>
</html>
